<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<% if current_user.admin? %>
  <h4><%= _("Merge Articles") %></h4>
  <%= form_tag(action: "merge") do %>
    <%= hidden_field_tag(:article_id, @article.id) %>
    <%= label_tag(:merge_with, "Article ID ") %>
    <%= text_field_tag(:merge_with) %>
    <br />
    <%= submit_tag("Merge") %>
  <% end %>
<% end %>
